html {
    background-color: #ededed;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

body {
    margin: auto;
    width: 100%;
    /* padding: 1rem; */
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

/* nav styles */


@media screen and (max-width: 635px) {
    body {
        position: fixed;
    }

    .nav-top-row {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
    }

    .icon {
        position: relative;
        width: 1em;
        height: 1em;
        margin-left: 8px;
    }

    #burger-menu-button {
        display: inline-block;
        padding: 7px 0px;
        border: none;
        margin-left: auto;
    }

    #burger-menu-button .line {
        display: block;
        width: 40px;
        height: 5px;
        margin: 10px;
        background-color: black;
    }

    .nav-list {
        width: 100%;
        margin: 0;
        padding: 0px;
        list-style: none;
        display: none;
    }

    .nav-list li {
        display: block;
        text-align: center;
    }

    .nav-list a {
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        /* font-weight: bold; */
        padding: 10px 20px;
        color: white;
        border: 1px solid;
        border-color: rgb(87, 87, 87);
        background: rgb(87, 87, 87);
    }
}

@media screen and (min-width: 636px) {

    header {
        margin-top: 10px;
        border-bottom: solid 1px black;
    }

    .header-row {
        display: flex;
        justify-content: space-between;
    }

    /* .nav-top-row {
        display: block;
    } */

    .logo {
        /* padding: 15px; */
        margin-right: 20px;
        text-align: center;
        width: 300px;
        /* margin-bottom: 20px; */
    }

    .logo a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
    }

    #main-navigation {
        /* display: table; */
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 1200px;
    }

    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        /* outline: 1px solid rgb(87, 87, 87); */
        /* background: rgb(87, 87, 87); */
        width: 900px;
    }

    .nav-list li {
        /* display: table-cell; */
        /* text-align: center;
        width: 25%; */
        /* position: relative; */
    }

    .nav-list a {
        display: inline-flex;
        /* padding: 0.5em; */
        color: rgb(63, 63, 63);
        text-decoration: none;
        font-size: 1.5rem;
        /* border: 1px solid; */
        /* border-radius: 6px; */
        border-color: rgb(87, 87, 87);
        border-bottom: solid 4px transparent;
    }

    .nav-list a:hover,
    .nav-list a:focus {
        /* background-color: white; */
        /* color: rgb(87, 87, 87); */
        /* text-decoration: underline; */
        outline-color: rgb(48, 48, 48);
        outline-offset: 6px;
        border-bottom: solid 4px black;
    }

    #burger-menu-button {
        display: none;
    }

    .hamburger {
        display: none;
    }

}

.expanded {
    display: unset;
}