html {
    background-color: #ededed;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

body {
    margin: auto;
    width: 100%;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.content {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
}

/* nav styles */


@media screen and (max-width: 635px) {
    body {
        position: fixed;
    }

    .nav-top-row {
        display: flex;
        /* justify-content: space-between; */
    }

    .logo {
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
    }

    .icon {
        position: relative;
        width: 30px;
        height: 30px;
        margin-left: 8px;
    }

    #burger-menu-button {
        background-color: #ededed;
        display: inline-flex;
        padding: 7px 0px;
        border: none;
        margin-left: auto;
        align-items: center;
    }

    /* #burger-menu-button .line {
        display: block;
        width: 40px;
        height: 5px;
        margin: 10px;
        background-color: black;
    } */

    .nav-list {
        width: 100%;
        margin: 0;
        padding: 0px;
        list-style: none;
        display: none;
    }

    .nav-list li {
        display: block;
        text-align: center;
    }

    .nav-list a {
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 10px 20px;
        color: white;
        border: 1px solid;
        border-color: rgb(87, 87, 87);
        background: rgb(87, 87, 87);
    }
}

@media screen and (min-width: 636px) {

    header {
        margin-top: 10px;
        border-bottom: solid 1px black;
    }

    .header-row {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin-right: 20px;
        padding: 0 10px 0 10px;
        width: 300px;
    }

    .logo a {
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        font-weight: bold;
    }

    #main-navigation {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 1200px;
    }

    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        width: 900px;
    }

    .nav-list a {
        display: inline-flex;
        color: rgb(63, 63, 63);
        text-decoration: none;
        font-size: 1.5rem;
        border-color: rgb(87, 87, 87);
        border-bottom: solid 4px transparent;
    }

    .nav-list a:hover,
    .nav-list a:focus {
        outline-color: rgb(48, 48, 48);
        outline-offset: 6px;
        border-bottom: solid 4px black;
    }

    #burger-menu-button {
        display: none;
    }

    .hamburger {
        display: none;
    }

}

.expanded {
    display: unset;
}