---
const pageTitle = "Über";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Über</h1>
    <p>Ich bin Jonathan und Enthusiast für Digitales und Inklusion.</p>
</BaseLayout>
