---
const pageTitle = "Blog";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Mein Blog über digitale Barrierefreiheit</h1>
    <p>In diesem Blog geht es um Themen rund um digitale Barrierefreiheit.</p>
</BaseLayout>
